body {
    background-color: cadetblue;
}

h1 {
    color:black;
        font-family:serif;
            font-size: 200%;
}

h2 {
    color:black;
    font-family:sans-serif;
    font-size: 100%;
}

h3 {
    color:brown;
    font-family:monospace;
    font-size: 200%;
}


p {
   
    color:antiquewhite;
    border: 1px solid black;
    font-family:serif;
    padding: 15px; 
    margin: 10px; 
}

.Primed {
    color:crimson;
    border: 3px solid black;
    font-family:fantasy;
    font-size: 300%;
}
